aiofiles==0.8.0
cloudinary==1.29.0
fastapi==0.73.0
fpdf2==2.5.0
jose==1.0.0
numpy==1.19.5
opencv-contrib-python-headless==4.5.5.62
pandas==1.4.0
progressbar==2.5
pydantic==1.9.0
PyMySQL==1.0.2
python-dotenv==0.19.2
python_jose==3.3.0
python-multipart ==0.0.5
SQLAlchemy==1.4.30
uvicorn==0.17.0
websockets==10.1
about-time==3.1.1
alive-progress==2.3.1
grapheme==0.6.0